<!doctype html>
<html>
  <head>
    <title>{{ .title }}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio Website" />
    <meta name="author" content="Andrew Montgomery" />
  </head>
  <body>
    <h1>Hello</h1>
  </body>
</html>
