<!doctype html>
<html>
  <head>
    <title>Andrew Montgomery</title>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website and blog" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav class="site-header">
        <h1 class="logo">
          <a href="/">Andrew Montgomery</a>
        </h1>
      </nav>
    </header>
    <main>
      <section id="about">
        <h2>About Me</h2>
        <p>
          I'm a Electrical Engineering student at University of Waterloo. I love
          learning new ideas and building projects to bring them to life.
        </p>
      </section>
      <section id="interests">
        <h2>My interests:</h2>
        <ul>
          <li>
            <a href="https://ziglang.org/">Zig</a> and
            <a href="https://youtu.be/IroPQ150F6c">Data Orientied Design</a>
          </li>
          <li><a href="https://nixos.org/">Nix</a></li>
          <li><a href="https://astronvim.com/">Neovim (AstroNvim)</a></li>
          <li>
            <a href="https://www.oca.org/history-archives"
              >Orthodox Christianity</a
            >
          </li>
          <li>
            <a href="https://mises.org/library/book/human-action">Praxeology</a>
          </li>
        </ul>
      </section>
      <section id="projects">
        <h2>My Projects:</h2>
        <ul>
          <li>
            <a href="https://github.com/Skullheadx/dotfiles"
              >NixOS Configuration</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/qrcodescanner"
              >QR Code Scanner</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/fruit-ninja">Fruit Ninja</a>
          </li>
          <li>
            <a
              href="https://github.com/Skullheadx/The-Traveling-Salesman-Problem"
              >Traveling Salesman Problem</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/Collision-Simulation"
              >Optimized Collision Simulator</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/Electric-Dipoles"
              >Electric Dipole Simulation</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/youtube-downloader"
              >Youtube Downloader</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/text-art"
              >Video to ASCII art converter</a
            >
          </li>
          <li>
            <a href="https://github.com/Skullheadx/Conways-Game-Of-Life"
              >Conway's Game of Life</a
            >
          </li>
          <li><a href="https://github.com/Skullheadx/2048">2048</a></li>
          <li>
            <a href="https://github.com/Skullheadx/Pygame-Jam"
              >Pirates of the Dead (Pygame Jam)</a
            >
          </li>
        </ul>
      </section>
      <p>
        <a href="/assets/resume.pdf" download="Andrew_Montgomery_Resume.pdf"
          >Download Resume</a
        >
      </p>
      <section id="blog">
        <h2>Blog Posts</h2>
        <ul>
          <li>My experience switching to NixOS</li>
        </ul>
      </section>
      <!-- <a href="/page2.html">Page2</a> -->
      <!-- <img src="testpic.jpg" alt="This is a test image" height="42" width="42" /> -->
    </main>
    <footer>
      <nav class="site-footer">
        <a href="https://github.com/Skullheadx">Github</a>
        <a href="mailto:hello+blog@andrew-montgomery.dev"
          >hello+blog@andrew-montgomery.dev</a
        >
        <a href="https://www.linkedin.com/in/andrew-montgomery-905629280"
          >LinkedIn</a
        >
      </nav>
    </footer>
  </body>
</html>
