<!doctype html>
<html>
  <head>
    <title>Andrew Montgomery</title>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website and blog" />
  </head>
  <body>
    <h1>Andrew Montgomery</h1>
    <p>
      I'm a UW electrical engineering student. I love learning new ideas and
      building projects to realize them.
    </p>
    <p>My interests:</p>
    <ul>
      <li>
        <a href="https://ziglang.org/">Zig</a> and
        <a href="https://youtu.be/IroPQ150F6c">Data Orientied Design</a>
      </li>
      <li><a href="https://nixos.org/">Nix</a></li>
      <li><a href="https://astronvim.com/">Neovim (AstroNvim)</a></li>
      <li>
        <a href="https://www.oca.org/history-archives">Orthodox Christianity</a>
      </li>
      <li>
        <a href="https://mises.org/library/book/human-action">Praxeology</a>
      </li>
    </ul>
    <p>My Projects:</p>
    <ul>
      <li>NixOS Configuration</li>
      <li>QR Code Scanner</li>
      <li>Fruit Ninja Clone</li>
      <li>Traveling Salesman Problem</li>
      <li>Conway's Game of Life</li>
      <li>Youtube Downloader</li>
      <li>Video to ASCII art converter</li>
      <li>Optimized Collision Simulator</li>
      <li>Electric Dipole Simulation</li>
      <li>2048</li>
      <li>Pirates of the Dead (Pygame Jam)</li>
      <li>Space Turnout</li>
    </ul>
    <p>
      <a href="/assets/resume.pdf" download="Andrew_Montgomery_Resume.pdf"
        >Download Resume</a
      >
    </p>
    <h2>Blog Posts</h2>
    <ul>
      <li>My experience switching to NixOS</li>
    </ul>
    <!-- <a href="/page2.html">Page2</a> -->
    <!-- <img src="testpic.jpg" alt="This is a test image" height="42" width="42" /> -->
  </body>
  <footer>
    <h1>Andrew Montgomery</h1>
    <table>
      <tr>
        <td>Andrew Montgomery</td>
        <td><a href="https://github.com/Skullheadx">Github</a></td>
        <td>Build Something Great</td>
      </tr>
      <tr>
        <td>amontgom@uwaterloo.ca</td>
        <td>
          <a href="www.linkedin.com/in/andrew-montgomery-905629280">LinkedIn</a>
        </td>
      </tr>
    </table>
  </footer>
</html>
