.site-header {
  position: fixed; /* stays at top even while scrolling */
  top: 0;
  left: 0;
  right: 0;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1.5rem;
  background: white; /* or your color */
  border-bottom: 1px solid #ddd;
  z-index: 1000; /* keeps it above page content */
}

html,
body {
  background-color: #00539f;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  width: 66%;
  margin: 0 auto;
  margin-top: 80px;
  background-color: #ff9500;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}
section {
  scroll-margin-top: 70px; /* slightly bigger than your 60px header */
}

h2 {
  margin: 0 0 1rem 0;
}

.site-footer {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer a {
  padding: 0.5em 1em;
  display: block;
}
